h2, h3, h4, h6 {
  font-weight: bolder;
}

i {
  font-size: 20px;
}

.modal {
  width: 300px;

  .modal-content {
    width: 300px;

    .list-group-item:hover {
      background-color: rgb(59, 57, 57, 0.164)!important;
    }
  }
}

table {
  width: 100%;
}
